* {
  margin:0;
  padding:0;
}

body {

  width: 100%;
  height: auto;
	background: #0f0559 url(../imagenes/bg_pregunta_1.jpg) 0% 0% no-repeat;
  background-size: cover;
/*background:#FFF;*/
}

.row {
  width: 96%;
}

.titulo {
	margin-top: 7%;
}

.titulo2 {
	text-align: center;
	margin-top: 9%;
}

.titulo3 {
	text-align: center;
	margin-top: 7%;
}

.titulo4 {
  text-align: center;
  margin-top: 2%;
  padding-left: 5px;
  padding-right: 20px;
}


.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  padding: 5px 20px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  font: normal 21px/normal Arial Black, Gadget, sans-serif;
  color: #fff;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: none;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  color: #0f0559;
  background: #fff;
  border: 2px solid #ffffff;
}

.enjoy-css:active {
  color: #0f0559;
  background: #fff;
  border: 2px solid #ffffff;
}

.enjoy-css-active {
  color: #0f0559;
  background: #fff;
  border: 2px solid #ffffff;
}

.enjoy-css:focus {
  color: #0f0559;
  background: #fff;
  border: 2px solid #ffffff;
}

.enjoy-css-buttom {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 3px 20px;
  border: 1px solid #9298ba;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  font: normal 30px BebasNeueRegular;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(146,152,186,1);
}

.enjoy-css-buttom-juego {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 1px 40px;
  border: 1px solid #9298ba;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  font: normal 20px BebasNeueRegular;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(146,152,186,1);
}

.enjoy-css-buttom:hover {
	background: rgba(146,152,186,1);
	color: rgba(255,255,255,1);
}

.enjoy-css:focus{
	outline:0px;
}

.checkLabel {
	color: #FFF !important;
	margin-top: 2px;
}

.labelTribia {
	font: normal 18px DINLightRegular;
}

.pregunta {
  color: #FFF;
  font-size: 2.4em;
  font-family: BebasNeueRegular;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(../imagenes/bg_hielo_footer.png)  0% 0% no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 98px;
    z-index: 9999999;
}


@font-face {
  font-family: "DINLightRegular";
  src: url("../fuentes/Formulario/DIN Light Regular/DIN Light Regular.otf");
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fuentes/Quiz/Bebas Neue/BebasNeue Regular.otf");
}


